extends ../../layout

block init
    - var title = `${app.name} | Applications`

block content
    h1 #{app.name}

    p description: #{app.description}

    p isAutomated: #{app.isAutomated}

    table
        tr
            th client_id
            td: input(type="text", value=app.clientId, readonly)
        tr
            th client_secret
            td: input(type="text", value=app.clientSecret, readonly)

    hr

    form(method="POST")
        input(type="hidden", name="_csrf", value=session.getCookieValue())
        table
            tr
                th name
                td: input(type="text", name="name" value=app.name)

            tr
                th description
                td: input(type="text", name="description" value=app.description)

            tr
                th redirectUri
                td: input(type="text", name="redirect_uri" value=app.redirectUri)

            tr
                th isAutomated?
                td: input(type="checkbox", name="is_automated" checked=app.isAutomated)
        input(type="submit", value="Update app")