extends ../../layout

block init
    - var page = "Create | Invite | Settings"

block content
    h1 招待コードの作成

    if createdCode
        p 作成しました:&nbsp;
            strong #{createdCode.code}

    h2 作成済み

    table(border=1)
        tr
            th コード
            th 使用者
            th メモ
        for code in codes
            tr
                td= code.code
                td
                    if code.toUser
                        bdi #{code.toUser.name}
                        | &nbsp;
                        strong @#{code.toUser.screenName}
                    else
                        | 未使用
                td= code.memo

    h2 作成

    form(method="POST")
        input(type="hidden", name="_csrf", value=session.getCookieValue())
        table
            tr
                th メモ
                td
                    input(type="text", name="memo", placeholder="ほげほげさん用")
        input(type="submit", value="作成")